@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap'); */


.heightIndex{
  height: 150px;
}
.piece {
  /* height: 10vh; */
  padding-top: 55px;
  display: grid;
  place-content: center;
}


.primary-bg {
    /* color :#000; */
    background-color: #E6E6E6;

}
.secondary-bg{
    background-color: black;
}
.primary-clr {
    color:black;
}
.accentclr{
    color:#EA4726
}


.oswald-fnt-lt {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.oswald-fnt-md {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.oswald-fnt-bd {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.navbarStyle {
    padding: 10px;
    border-radius: 8px;
    border-color:#fca311;
    background-color: #ffffff;
}