---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Welcome /> -->
	<div class="bg-primary">
		<h1 class="text-4xl font-bold text-blue-600">welcome to derry</h1>
		<p class="text-3xl" style="color:white">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, modi laboriosam asperiores quam debitis ipsam dolores? Provident beatae cupiditate ut eaque earum modi dolorum ea ex. Obcaecati distinctio corrupti veritatis.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aliquid excepturi quis, assumenda blanditiis harum consectetur ullam, laboriosam tenetur possimus sapiente explicabo veniam cum odit? Voluptates id nostrum laboriosam quam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse molestiae inventore eaque explicabo quasi iste, nostrum laudantium quo accusantium maxime id voluptates consectetur. Quas eum accusantium ea illo beatae labore!
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, exercitationem dolorem officia ut fuga eius nemo error reiciendis maxime dolore provident explicabo ab, esse dolores voluptatem, perspiciatis veniam vitae totam?
		</p>
	</div>
</Layout>
