---
import Layout from "../layouts/Layout.astro";
import Nosurveys from "../components/NoSurveys.astro"
---
<Layout />
<section class="piece"></section> 
<!-- this above section is just for padding no other use  -->
<Nosurveys />
